body {
    margin: 1.5em;
}
.alert-info {
    background-color: #CCFFFF;
    border: 1px solid black;
    text-align: center;
    padding: 1.5em;
    margin: 0.5em;
}

.alert-info a{
    color: black;
    text-decoration: none;
}

.nav-links {
    padding: 0;
}

.main p {
    font-family: sans-serif;
}

.main h2 {
    font-family: sans-serif;
}

.sub-section {
    font-style: italic;
    font-family: sans-serif;
}

ul {
    list-style: none;
}

@media screen and (max-width: 576px) {
    li {
        background-color: #CCCCCC;
        padding: 1em;
        text-align: center;
        margin: 0.5em;
    }
    .header-img {
        display: flex;
        justify-content: center;

        margin: 0 auto;
    }
    .header-img img {
        width: 100%;
        height: 224px;
    }
    h1 {
        text-align: center;
    }
}

@media screen and (min-width: 576px) {
    .hidden-on-desktop {
        display: none;
    }

    nav {
        float: right;
    }

    h1 {
        float: left;
    }

    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    li {
        padding: 1em;
    }

    .header-img {
        clear: both;
        display: flex;
    }

    .header-img img {
        /*margin: auto;*/
        width: 100%;
    }
    .main {
        width: 60%;
        padding-right: 1.5rem;
    }
    .sub-section {
        width: 40%;
        margin: 0;
    }

    .main, .sub-section {
        float: left;
        box-sizing: border-box;
        margin-bottom: 8em;
    }

    footer {
        display: flex;
        width: 100%;
        margin: 0 auto;
        align-items: center;
    }
    #social-media-links {
        margin-left: auto;
        /*justify-content: space-between;*/
    }
    #social-media-links i {
        padding: 1em;
    }
}
