* {
/*    margin: 0;*/
    padding: 1em 0;
}
body {
   display: flex;
    flex-direction: column;
    padding: 1em;
}

@media only screen and (min-width: 992px) {
    .hidden-on-desktop {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    li {
        width: 100%;
        background-color: #CCCCCC;
        padding: 1em;
        margin: 1em auto;
        text-align: center;
        border: 1px solid black;
    }

    li a {
        margin: auto;
    }
}

.alert-info {
    width: 100%;
    border: 1px solid lightgrey;
    background-color: #CCFFFF;
    display: flex;
    justify-content: center;
    padding: 1em;
    margin: auto;
}
.alert-info a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}




